@model QLCoffee.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT SẢN PHẨM</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Giá sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSP)
        </dd>

        <dt>
            Số lượng sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongSP)
        </dd>



        <dt>
            Ngày sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image1)
        </dd>

    </dl>
    <!--<div class="form-group">
        <div class="col-md-10">
            <h4>Ảnh</h4>
            <img src="@Model.Image1" style="width:200px" />
            <p>
                <a href="/Admin/SanPham/Update_Image?idSanPham=@Model.MaSP" class="pull-right btn btn-sm btn-success">Upload</a>-->
    @*/Areas/Controller/Action*@
    <!--</p>
        </div>
    </div>-->
    <p id="bot-size">
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
    </p>
</div>

