@model QLCoffee.Models.ViewModel.SearchProductVM
@using PagedList.Mvc;
<head>
    <style>
      
    </style>
</head>
<!--Show Product List-->
@if (Model.SanPhams != null && Model.SanPhams.Any())
{
    <h2 class="text-center my-4">Danh sách chi tiết sản phẩm</h2>

    <div class="form-group" style="margin-bottom: 20px">
        <div class="col-md-4">
            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>

    <table class="table table-bordered table-striped" style="height: 430px">
        <thead class="table-dark">
            <tr>
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Giá sản phẩm
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Ngày sản xuất
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SanPhams)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySX)
                    </td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }, new { @class = "btn btn-sm btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MaSP }, new { @class = "btn btn-sm btn-dark" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP }, new { @class = "btn btn-sm btn-danger" })
                        </div>
                    </td>

                </tr>

            }
        </tbody>
    </table>

}
else
{
    <p>Không tìm thấy sản phẩm nào phù hợp</p>
}
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model.SanPhams, page => Url.Action("Index",
    new { page, sortOrder = Model.SortOrder, searchTeam = Model.SearchTerm, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        UlElementClasses = new[] { "pagination", "pagination-sm" }, // Nhỏ gọn
        LiElementClasses = new[] { "page-item" }

    })
</div>


<script>
    $(document).ready(function () {
        $(".pagination li a").addClass("page-link");
    });
</script>




