@model QLCoffee.Models.ViewModel.OTPViewModel

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutDangKy.cshtml";
}



    @*<h2>Quên mật khẩu</h2>
    <div class="mb-3">
        <label for="email"></label>

    </div>

    <label>Nhập Email: </label>
    <input type="text" name="Email" required />
    @Html.ValidationMessageFor(m => m.Email)
    <button type="submit">Gửi OTP</button>
    <p>@ViewBag.ErrorMessage</p>*@


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h3 class="text-center">Quên mật khẩu</h3>
                    <p class="text-muted text-center">Nhập email để nhận mã OTP đặt lại mật khẩu</p>

                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "needs-validation" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <label class="form-label">Tên tài khoản:</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nhập tên đăng nhập của bạn..." })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email:</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email của bạn..." })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.Email)</div>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Gửi OTP</button>
                        <p class="text-danger text-center mt-2">@ViewBag.ErrorMessage</p>


                    }
                </div>
            </div>
        </div>

    </div>



