@model QLCoffee.Models.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutDangKy.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h3 class="text-center">Đặt lại mật khẩu</h3>
                <p class="text-muted text-center">Nhập mật khẩu mới của bạn</p>

                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "needs-validation" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu mới:</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới..." }) 
                        <div class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Xác thực mật khẩu:</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác thực mật khẩu..." })
                        <div class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Xác thực</button>
                    <p class="text-danger text-center mt-2">@ViewBag.ErrorMessage</p>


                }
            </div>
        </div>
    </div>

</div>