@model QLCoffee.Models.TAIKHOAN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới tài khoản</h2>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Tên đăng nhập:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.TenDN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenDN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Số điện thoại:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Mật khẩu:</label>
        <div class="col-md-10">
            @Html.PasswordFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Xác nhận mật khẩu:</label>
        <div class="col-md-10">
            @Html.PasswordFor(model => model.RePass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RePass, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Phân quyền:</label>
        <div class="col-md-10">
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.PhanQuyen, "A") Admin
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.PhanQuyen, "C") Customer
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.PhanQuyen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Khách hàng</label>
        <div class="col-md-2">
            @Html.DropDownList("MaKH", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Nhân viên</label>
        <div class="col-md-2">
            @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="bot-size">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-success" />|
            @Html.ActionLink("Danh sách", "Index", null, new { @Class = "btn btn-primary" })
        </div>

    </div>
</div>
    
}



