@model QLCoffee.Models.TAIKHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TAIKHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Phân Qyền:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen)
        </dd>

        <dt>
           Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTenKH)
        </dd>

        <dt>
            Tên nhân viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.TenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenDN }, new { @class = "btn btn-sm btn-success" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>
