@model IEnumerable<QLCoffee.Models.MAU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="text-center my-4">QUẢN LÝ MÀU</h2>

<p class="text-start">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
               Mã màu
            </th>
            <th>
                Tên màu
            </th>
            <th>
                RGB
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RGB)
                </td>
                
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaMau }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaMau }, new { @class = "btn btn-dark" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaMau }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

