@model IEnumerable<QLCoffee.Models.CHITIET_HOADON>


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>CHI TIẾT HÓA ĐƠN</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Thành Tiền</th>
            <th>Tên Loại Sản Phẩm</th>
            <th>Khuyến mãi cho loại sản phẩm</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.SANPHAM.TenSP</td>
                <td>@item.Soluong</td>
                <td>@string.Format("{0:N0} VNĐ", item.UnitPrice)</td>
                <td>@string.Format("{0:N0} VNĐ", item.TotalPrice)</td>
                <td>@(item.SANPHAM?.PRODUCT?.LOAISANPHAM?.TenLoaiSP ?? "Không có loại sản phẩm")</td>
                <td>
                    @if (item.SANPHAM?.PRODUCT?.LOAISANPHAM != null)
                    {
                        foreach (var key in ViewBag.InvoiceData.Keys)
                        {
                            if (ViewBag.InvoiceData.ContainsKey(key))
                            {
                                <p>@($"{ViewBag.InvoiceData[key]*100}%")</p>
                            }
                        }
                    }
                    else
                    {
                        @ViewBag.Khuyenmai

                    }

                </td>
                <td>
                   
                </td>
            </tr>
        }


    </tbody>
</table>

<div id="bot-size">@Html.ActionLink("Back to List", "Index",null ,new { @class = "btn btn-primary" })</div>