@model QLCoffee.Models.PRODUCT

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SỬA THÔNG TIN SẢN PHẨM</h2>

@using (Html.BeginForm("EditProduct", "PRODUCTs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPro)

        <div class="form-group">
            <label>Tên sản phẩm:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamePro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamePro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mô tả:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desciption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Desciption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tên loại sản phẩm:</label>
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiSP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hình ảnh 1:</label>
            <div class="col-md-10">
                <div><img src="@Url.Content(Model.Img1)" width="100" height="100" /></div>
                @Html.TextBoxFor(model => model.UploadImage, htmlAttributes: new { type = "file" })
                @Html.ValidationMessageFor(model => model.UploadImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hình ảnh 2:</label>
            <div class="col-md-10">
                <div><img src="@Url.Content(Model.Img2)" width="100" height="100" /></div>
                @Html.TextBoxFor(model => model.UploadImage1, htmlAttributes: new { type = "file" })
                @Html.ValidationMessageFor(model => model.UploadImage1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hình ảnh 3:</label>
            <div class="col-md-10">
                <div><img src="@Url.Content(Model.Img3)" width="100" height="100" /></div>
                @Html.TextBoxFor(model => model.UploadImage2, htmlAttributes: new { type = "file" })
                @Html.ValidationMessageFor(model => model.UploadImage2, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" id="bot-size">
                <input type="submit" value="Lưu" class="btn btn-primary" />|
                @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-dark" })
            </div>
        </div>

    </div>
}