@model IEnumerable<QLCoffee.Models.PRODUCT>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center my-4">Quản lý sản phẩm</h2>

<p class="text-end">
    @Html.ActionLink("Thêm mới", "UploadProduct", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Loại sản phẩm</th>
            <th>Thao tác</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.IDPro</td>
                <td>@item.NamePro</td>
                <td><img src="@Url.Content(item.Img1)" style="height: 100px; width: 100px; object-fit: cover;" /></td>
                <td>@item.LOAISANPHAM.TenLoaiSP</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDPro }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDPro }, new { @class = "btn btn-dark btn-sm" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IDPro }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
