@model QLCoffee.Models.KHO

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA HÀNG HÓA</h2>
<h3>Bạn có chắc chắn muốn xóa hàng hóa này không ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số lượng tồn kho:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            Nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
        </dd>

        <dt>
            Chi tiết sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
