@model IEnumerable<QLCoffee.Models.NHACUNGCAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="text-center my-4">QUẢN LÝ NHÀ CUNG CẤP</h2>

<p class="text-start">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                Mã nhà cung cấp
            </th>
            <th>
                Tên nhà cung cấp
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDT)
                </td>               

                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaNCC }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaNCC }, new { @class = "btn btn-dark" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaNCC }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

