

@model IEnumerable<QLCoffee.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}


<h2 class="text-center my-4">QUẢN LÝ KHÁCH HÀNG</h2>

<p class="text-start">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Số điện thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDTKH)
                </td>
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaKH }, new { @class = "btn btn-sm btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaKH }, new { @class = "btn btn-sm btn-dark" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaKH }, new { @class = "btn btn-sm btn-danger" })
                    </div>
                </td>
            </tr>
            
        }
    </tbody>
</table>




